<h1>Home</h1>
<p>Home</p>
<div class="row">
    <% if @categories %>
        
        <h2>Oru Products</h2>
        <% @categories.each do |category| %>
            <div class="col-md-4">
                <h3><%= link_to category.name, category %></h3>
                
                <% category.products.each do |product| %>
                    
                        <div class="img-responsive">
                            <%= image_tag product.picture.url(:medium) %>
                        </div>
                        <h4><center><% link_to product.name, product%></center></h4>
                   
                <% end %>
            </div>
        <% end %>   
            
    <% end %>
</div>